# Test Results
## Markdown List
- To do:
  - Total: 3
  - Label: 3
    - documentation: 1
    - enhancement: 1
    - bug: 1
  - Assignee: 1
    - Dave McKinstry: 1
- In progress:
  - Total: 3
  - Label: 2
    - enhancement: 2
    - bug: 1
  - Assignee: 1
    - Dave McKinstry: 1
- Done:
  - Total: 2
  - Label: 2
    - bug: 1
    - wontfix: 1
  - Assignee: 0

## JSON Results
``` JSON
[{"Column":"To do","Statistics":[{"Key":"Total","Value":3},{"Key":"Label","Value":[{"Key":"documentation","Value":1},{"Key":"enhancement","Value":1},{"Key":"bug","Value":1}]},{"Key":"Assignee","Value":[{"Key":"Dave McKinstry","Value":1}]}]},{"Column":"In progress","Statistics":[{"Key":"Total","Value":3},{"Key":"Label","Value":[{"Key":"enhancement","Value":2},{"Key":"bug","Value":1}]},{"Key":"Assignee","Value":[{"Key":"Dave McKinstry","Value":1}]}]},{"Column":"Done","Statistics":[{"Key":"Total","Value":2},{"Key":"Label","Value":[{"Key":"bug","Value":1},{"Key":"wontfix","Value":1}]},{"Key":"Assignee","Value":[]}]}]
```
